.browse {
  z-index: 99;
  .movieContent {
    position: absolute;
    width: 93vw;
    height: 30vh;
    margin-top: -100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    gap: 44px;

    .left {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;

      .col-1 {
        display: flex;
        align-items: center;
        gap: 18px;

        .match {
          color: rgb(3, 184, 3);
          font-size: 18px;
          font-weight: 500;
        }
        .yt-logo {
          color: #fff;
          background-color: red;
          border-radius: 8px;
          padding: 3px;
          font-size: 20px;
          width: 50px;
          text-align: center;
        }

        .type {
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
        }
        .resolution {
          color: #fff;
          font-size: 10px;
          border: 1px solid #fff;
          padding: 1px 8px;
        }
      }
      .col-2 {
        .description {
          color: #fff;
          font-size: 14px;
        }
      }
    }
    .right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 24px;

      .col-1 {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        .label {
          color: rgb(120, 122, 120);
          font-size: 15px;
        }
        .genre {
          color: #fff;
          font-size: 15px;
        }
      }
      .col-2 {
        width: 300px;

        .netflix-logo {
          width: 100%;
        }
        .author {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 6px;

          .label {
            color: #fff;
            font-size: 12px;
          }
          .author-name {
            color: red;
            font-size: 18px;
          }
        }
      }
    }
  }
}
