.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  width: 100vw;
  transition: all 0.3s ease-in;
  background: linear-gradient(#000000b3 0%, #0000 100%);
  z-index: 99;

  .logo_links {
    margin-left: 44px;
    display: flex;
    .logo {
      width: 105px;
      height: 32px;
      margin-right: 38px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 20px;
  
      a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
      }
    }
  }

  .actions {
    margin-right: 24px;
    display: flex;
    align-items: center;
    gap: 14px;

    .material-icons-outlined {
      font-size: 34px;
      color: #fff;
    }

    .back {
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  &.scroll {
    background-color: rgb(17,17,17);
  }
}
