.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 4px;
  margin-bottom: 64px;
  position: relative;

  .title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 44px;
  }
  .showcase {
    width: 100vw;
    display: flex;
    transition: transform 0.5s ease;

    &::-webkit-scrollbar {
      display: none;
    }
    &:first-child {
      margin-left: 44px;
    }
  }

  .arrow {
    position: absolute;
    height: 140px;
    background-color: rgb(22, 21, 21);
    z-index: 9;
    margin-top: 35px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    .material-icons-outlined {
      transition: all 0.3s ease-in-out;
      font-size: 44px;
      color: #fff;

      &:hover {
        font-size: 54px;
      }
    }
  }

  .left {
    left: 0;
    .material-icons-outlined {
      margin-left: 18px;
    }
  }
  .right {
    right: 0;
  }

  &:hover {
    .arrow {
      opacity: 0.4;
    }
  }
}
