.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 4px;
  margin-bottom: 64px;
  position: relative;
  transition: all 0.5s ease-in-out;

  .title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 44px;
  }
  .showcase {
    width: 100vw;
    display: flex;
    transition: all 0.5s ease-in-out;

    &::-webkit-scrollbar {
      display: none;
    }
    &:first-child {
      margin-left: 44px;
    }
  }

  .arrow {
    position: absolute;
    height: 140px;
    background-color: rgb(22, 21, 21);
    z-index: 9;
    margin-top: 35px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    .material-icons-outlined {
      transition: all 0.3s ease-in-out;
      font-size: 44px;
      color: #fff;
      user-select: none;

      &:hover {
        font-size: 54px;
      }
    }
  }

  .left {
    left: 0;
    .material-icons-outlined {
      margin-left: 18px;
    }
  }
  .right {
    right: 0;
  }

  &:hover {
    .arrow {
      opacity: 0.4;
    }
  }
}

.active-dash {
  width: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 5px;
}

.inactive-dash {
  width: 10px;
  height: 2px;
  background-color: rgb(50, 50, 50);
  display: inline-block;
  margin-right: 5px;
}
