.n-container {
  position: relative;

  &:hover {
    .notifications {
      opacity: 1;
      z-index: 1;
      pointer-events: all;
    }
  }
  .n-badge {
    color: #fff;
    background-color: red;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    position: absolute;
    top: 0;
    left: 18px;
    padding: 2px 5px;
    font-weight: 600;
  }

  .notifications {
    transition: all 0.2s ease-in-out;
    width: 400px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.829);
    border-top: 2px solid #fff;
    opacity: 0;
    z-index: -1;
    pointer-events: none;


    .notification-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      padding: 12px;
      border-bottom: 1px solid silver;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      text-decoration: none;

      &:hover {
        background-color: black;
      }

      img {
        border-radius: 12px;
      }

      .n-wrap {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        color: #fff;
        height: 100%;

        .n-title {
          font-size: 18px;
        }
        .n-date {
          font-size: 13px;
          color: silver;
        }
      }
    }
  }
}
