.select-profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("../assets/images/login-background-image.jpg");

  label {
    color: #fff;
    font-size: 55px;
  }

  .profiles-container {
    display: flex;
    align-items: center;
    gap: 54px;

    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 16px;
        border: 2px solid rgb(17, 17, 17);
        cursor: pointer;

        &:hover {
          border: 2px solid #fff;
        }
      }
      p {
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        text-transform: capitalize;
      }
      .delete-icon {
        font-size: 24px;
        color: #fff;
        transition: all .2s ease-in-out;

        &:hover {
          color: red;
          scale: 1.1;
        }
      }
      .user-icon {
        font-size: 24px;
        color: #fff;
        transition: all .1s ease-in-out;

        &:hover {
          color: rgb(48, 235, 39);
          scale: 1.1;
        }
      }
    }
  }
}

// Current User Avatar

.current_user {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 24px 44px;

  .arrow-back {
    font-size: 44px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .current_user_profile {
    display: flex;
    align-items: center;
    img {
      border-radius: 8px;
    }
    .current_user_name {
      position: absolute;
      font-size: 15px;
      color: #fff;
      top: 80px;
      margin-left: 3px;
    }
  }
}
