.vcard {
  position: relative;
  transition: all 0.1s ease-in-out;
  width: 100%;
  cursor: pointer;

  .line {
    transition: all 1.5s ease-out;
    background-color: red;
    position: absolute;
    margin-left: 2px;
    width: 0;
    height: 3px;
  }

  .card-logo {
    width: 19px;
    position: absolute;
    top: 6px;
    left: 4px;
    z-index: 8;
  }

  .ribbon {
    position: absolute;
    right: 0;
    top: 0;
    filter: drop-shadow(2px 3px 2px rgba(rgb(17, 17, 17), 0.5));

    .content {
      color: white;
      text-align: center;
      font-weight: 600;
      background: red;
      width: 23px;
      height: 34px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .label-1 {
        font-size: 9px;
        height: 5px;
        margin-top: 3px;
      }
      .label-2 {
        font-size: 13px;
      }
    }

    &.slant-down > .content {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        50% calc(100% - 4.9px),
        0 calc(100% - 7px)
      );
    }
  }

  .progress-bar-wrapper {
    height: 3px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    background-color: rgb(76, 73, 73);

    .bar {
      position: absolute;
      background-color: red;
      height: 3px;
    }
  }

  img {
    border-radius: 4px;
    width: 100%;
  }

  &:hover {
    z-index: 9;

    .line {
      width: 230px;
    }
  }
}
.wrapper {
  width: 300px;
  position: absolute;
  top: -75px;
  scale: 0.8 0.5;
  transition: all 0.1s ease-in-out;
  box-shadow: 5px 5px 15px 5px #000000;
  margin-left: -30px;
  
  &:hover {
    z-index: 9;
    scale: 1;
  }

  .react-player-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 167px;
    overflow: hidden;
    z-index: 99;
    background-color: rgb(17, 17, 17);

    .duration {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      position: absolute;
      right: 8px;
      margin-top: -24px;
      z-index: 9;
    }

    .thumbnail {
      position: absolute;
      z-index: 0;
      object-fit: cover;
      top: 0;
      transition: all 0.5s ease-in-out;
      opacity: 1;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &.hide {
        opacity: 0;
      }
    }
  }

  .details {
    background-color: rgb(34, 33, 33);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 130px;
    width: 300px;
    .icons {
      display: flex;
      align-items: center;
      padding: 8px;

      .material-icons-outlined {
        color: #fff;
        font-size: 34px;
      }

      .volume-icon {
        font-size: 22px;
        padding: 2px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
        margin-left: auto;

        &:hover {
          scale: 1.1;
          color: #ffffff9b;
        }
      }

      .more-info {
        margin-left: 12px;
        background-color: #111;
        border: none;
        border-radius: 8px;
        margin-right: auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-size: 14px;
        padding: 4px 6px;

        .material-icons-outlined {
          color: #fff;
          font-size: 24px;
        }
      }
    }
    .trailer-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 8px;
      gap: 4px;

      .title {
        width: 200px;
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        font-family: Homemade Apple, cursive;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 45px;
      }
      .genre {
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

// MEDIA QUERIES

@media screen and (max-width: 768px) {
  .wrapper {
    width: 95vw;

    .thumbnail {
      width: 95vw;
    }
  }
}

@media screen and (max-width: 576px) {
}

// Large Devices

@media screen and (min-width: 1200px) {
}

// Extra Large Devices

@media screen and (min-width: 1600px) {
  .wrapper {
    width: 400px;

    &:hover {
      scale: 1.1 1.2;
    }

    .thumbnail {
      width: 402px;
      height: 169px;
      margin-top: -1px;
      margin-left: -1px;
    }
    .details {
      width: 400px;
    }
  }
}
