.videocard {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: black bottom center no-repeat;

  mask-image: linear-gradient(
    180deg,
    transparent,
    #000 20%,
    #000 40%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    var(--mask-direction, to bottom),
    transparent,
    #000 20%,
    #000 40%,
    transparent
  );

  .react-player-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .thumbnail {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    object-fit: cover;
    top: 0;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    
    &.hide {
      opacity: 0;
    }
  }
  .action-button {
    position: absolute;
    right: 24px;
    top: 68%;

    .material-icons-outlined {
      font-size: 44px;
      color: #fff;
    }
  }

  .details {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    padding-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 70%
    );

    .logo_text {
      display: flex;
      align-items: center;
      margin-top: 80px;

      .text {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }

    .title {
      color: #fff;
      margin: 0;
      padding: 0;
      width: 500px;
      font-family: Homemade Apple, cursive;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      transition: all 1s ease-in-out;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.reduce-title-size {
        font-size: 30px;
      }
    }
    .description {
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 500;
      color: #fff;
      width: 400px;
      max-height: 80px;
      text-overflow: ellipsis;
      overflow-y: scroll;
      white-space: wrap;
      margin-bottom: 20px;
      margin-top: -10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      button {
        width: 130px;
        height: 50px;
        border-radius: 4px;
        border: none;
        font-size: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;

        .material-icons-outlined {
          color: black;
          font-size: 44px;
        }

        &.next {
          background-color: rgb(122, 120, 120);
          opacity: 0.7;
          color: #fff;
          width: 140px;

          .material-icons-outlined {
            color: #fff;
          }
        }
      }

      .add {
        font-size: 54px;
        color: #fff;
      }
    }
  }
}
