.videocard {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .react-player-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .action-button {
    position: absolute;
    right: 24px;
    top: 75%;

    .material-icons-outlined {
      font-size: 44px;
      color: #fff;
    }
  }
  .details {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    padding-left: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    .title {
      margin-top: 180px;
      font-size: 50px;
      color: #fff;
      font-family: "Homemade Apple", cursive;
      font-weight: 400;
      font-style: normal;
      background: -webkit-linear-gradient(#ffffff, #376a74d8);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 1s ease-in-out;

      &.reduce-title-size {
        font-size: 30px;
      }
    }
    .description {
      font-size: 17px;
      color: #fff;
      width: 400px;
      max-height: 80px;
      text-overflow: ellipsis;
      overflow-y: scroll;
      white-space: wrap;
      margin-bottom: 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      button {
        width: 110px;
        height: 42px;
        border-radius: 4px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;

        .material-icons-outlined {
          color: black;
          font-size: 34px;
        }

        &.next {
          background-color: rgb(122, 120, 120);
          opacity: 0.7;
          color: #fff;
          width: 170px;

          .material-icons-outlined {
            color: #fff;
          }
        }
      }
    }
  }
}
